/*
font-family: 'Playfair Display', serif;
font-family: 'Gilroy';
*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy';
    background-color: #0B1D26;
    background-image:  url(./../img/BG/unsplash_1ow9zrlldJU.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.test {
    background-color: aquamarine;
    width: 200px;
    height: 3200px;
}